<div class="text-center">
    <br>
    <br>
    <!-- <%= token %> -->
    <label class="h4 mt-4">Welcome <b><%= username.charAt(0).toUpperCase()+username.slice(1) %></b></label>
    <p>You are logged in.</p>
    
</div>
