<div class="text-center">
  <br>
  <h3>Home Page</h3>
  <br>
  <p>This is an example of ExpressJS middlewares <b> Passport, Crypto, Passport-JWT </b> and ExpressJs template engine 
    <b>EJS.</b></p>
</div>
